.Weather {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;

  .forecastList {
    justify-content: center;
    align-items: center;
    border: 2px solid salmon;
    padding: 0;
    list-style: none;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    margin: 0;

    .forecastListItem {
      width: 12%;
      border: 1px solid lime;
      margin: 5px;
      position: relative;

      h3 {
        top: 10%;
        position: absolute;
      }

      p {
        top: 50%;
        position: absolute;
      }

      img {
        width: 90%;
      }
    }
  }
  git config --global user.email "you@example.com"
}
