.Weather {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  background-color: gray;

  h1, h2 {
    color: white;
    text-shadow: 0px 0px 2.5px black;
  }

  .forecastList {
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    display: flex;
    width: 95%;
    height: 80%;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;

    .forecastListItem {
      width: 13%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      
      img {
        border-radius: 15px;
        width: 90%;
      }
    }
  }
}

@media screen and  (max-width: 800px) {
  .Weather {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 156, 156);

    .forecastList {
      justify-content: center;
      align-items: center;
      padding: 0;
      list-style: none;
      display: flex;
      width: 95%;
      height: 80%;
      flex-wrap: wrap;
      margin: 0;
      overflow-y: scroll;
      border-radius: 20px;
      background-color: rgb(39, 39, 39);

      .forecastListItem {
        width: 90%;
        border: 1px solid white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: .5rem 0;
        background-color: rgba(233, 233, 233, 0.5);

        &:nth-child(odd) {
          background-color: rgba(207, 207, 207, 0.25);
          color: white;
        }

        p {
          margin: 1rem;
        }

        img {
          height: 80%;
          width: auto;
        }
      }
    }
  }
}
